# Copyright 2022 Manna Harbour
# https://github.com/manna-harbour/miryoku

name: 'build-gaming-layer'
on: workflow_dispatch
jobs:
 build:
    uses: ./.github/workflows/main.yml
    secrets: inherit
    with:
      alphas: '["QWERTY"]'
      branches:  '["petejohanson/zmk/feat/pointers-move-scroll","zmkfirmware/zmk/main petejohanson/zmk/feat/pointers-move-scroll"]'
      kconfig: '["CONFIG_ZMK_MOUSE=y","CONFIG_ZMK_DISPLAY=y","CONFIG_ZMK_PM_SOFT_OFF=y"]'
      board: '["nice_nano_v2"]'
      shield: '["corne_left nice_view_adapter nice_view","corne_right nice_view_adapter nice_view"]'
    
